:root {
  --text-primary: #000;
  --text-secondary: #fff;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --color-primary: #0071bd;
  --color-secondary: #001529;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: var(--color-primary) !important;
}

@import 'App';
@import 'Navbar';
@import 'Homepage';
@import 'CryptoDetails';
@import 'Cryptocurrencies';
@import 'News';
@import 'Loader';